
<div class = "container d-flex mt-5 mb-5">
 <div class = "log-main ">
        <p>こちらが見本です</p>
        <p>どんな症状ですか</p>
        <p>足に力が入りません<br>
        立ち上がる時に眩暈がする</p>
        <p>日常生活で転びそうな場所</p>
        <p>トイレ、台所、ふろ場</p>
 </div>

  <div class="log-image">
  </div>

</div>
