<div class="text-center favorite-box">
<% @favorite_posts.each do |post| %>
<%= post.title %>
<%end%>

<% @favorite_users.each do |user| %>
<%= link_to user.name, public_post_path(user) %><br>
<%end%>
</div>
